@page "/chernobyl"

<h3>Подвергшиеся воздействию радиации вследствие катастрофы на Чернобыльской АЭС</h3>
<div class="card p-4" style="margin:5px;">
    <p>Основанием для предоставления земельных участков гражданам, относящимся к категориям, установленным пунктами 1 (многодетные) и 3 (чернобыльцы) части 1 статьи 3 настоящего Закона, в собственность бесплатно являются следующие условия:</p>
    <ol>
        <li>гражданин, его супруг (супруга), несовершеннолетние дети и дети в возрасте до 23 лет не имеют иного земельного участка в собственности либо в пользовании (аренде) и в их отношении не принималось решение о предоставлении (передаче) земельного участка в собственность бесплатно или решение, на основании которого возможно завершение оформления права на земельный участок для индивидуального жилищного строительства в соответствии с федеральным законодательством и законодательством города Севастополя;</li>
        <li>гражданин постоянно проживает на территории города Севастополя в течение 10 лет до подачи заявления о постановке на учет;</li>
        <li>гражданин, его супруг (супруга), несовершеннолетние дети и дети в возрасте до 23 лет не имеют в собственности, а также в пользовании на условиях договора социального найма жилого помещения, в том числе жилого дома, либо имеющееся на вышеуказанных правах жилое помещение обеспечивает каждого из членов семьи частью общей площади менее учетной нормы площади жилого помещения, установленной законодательством города Севастополя;</li>
        <li>гражданин и (или) его супруг (супруга) состоят на учете в качестве нуждающихся в жилых помещениях или у таких граждан имеются основания для их постановки на данный учет.</li>
    </ol>
</div>
