@page "/"
@inject HttpClient Http
@using BlazorApp1.Client.Models

<div class="card p-4">
    <h5 class="card-title">Общая информация</h5>
    <p>Это демонстрационное приложение для поиска данных по номерам распоряжений.</p>
   
    @* <p>Для загрузки Excel используем нашего <a href="https://t.me/example_bot" target="_blank">Telegram-бота</a>.</p> *@
</div>

@code {
   
}
