@page "/"
@inject HttpClient Http
@using BlazorApp1.Client.Models


<div class="card p-4">
    <h5 class="card-title">На основании законодательства города Севастополя право на бесплатное предоставление земельных участков в собственность имеют следующие категории граждан</h5>
   
    <div class="card p-4" style="margin:5px;">
        <h5 class="card-title">Льготные категории граждан:</h5>
        <p>- Участники специальной военной операции (СВО)</p>
        <p>- Члены семей погибших (умерших) участников СВО</p>
        <p>- Многодетные семьи </p>
        <p>- Репрессированные и подвергшиеся политическим репрессиям лица</p>
        <p>- Граждане, пострадавшие вследствие радиационных или техногенных катастроф (в том числе ликвидаторы Чернобыльской катастрофы)</p>
        
    </div>
   
</div>
<div class="card p-4" style="margin:5px;">
    <h5 class="card-title">Нормативная база</h5>
    <p>- Закон Севастополя от 27.07.2016 № 269-ЗС — о бесплатном предоставлении земельных участков.</p>
    <p>- Закон Севастополя от 01.12.2022 № 720-ЗС — о мерах социальной поддержки участников СВО и их семей.</p>
    <p>- Постановление Правительства Севастополя от 21.12.2017 № 970-ПП — об утверждении перечня необходимых документов.</p>
       
    @* <p>Для загрузки Excel используем нашего <a href="https://t.me/example_bot" target="_blank">Telegram-бота</a>.</p> *@
</div>
<div class="card p-4" style="margin:5px;">
    <h5 class="card-title">Как проверить свой номер в очереди?</h5>
    <p>Если вы уже состоите в очереди на предоставление земельного участка, вы можете уточнить свой номер очередности.</p>
    <p>Для этого вам потребуется номер распоряжения, на основании которого вы были поставлены на учет или номер заявления, поданного в МФЦ. В некоторых случаях потребуется уточнить год подачи документов. </p>
    <p><a href="/search" target="_blank">Введите эти данные в соответствующее поле на сайте, чтобы получить информацию о вашем месте в очереди.</a></p>
    <p>Если вы относитесь к одной из указанных категорий и ещё не встали на учет, вы можете обратиться в органы исполнительной власти города Севастополя для получения бесплатного земельного участка.</p>
    
    @* <p>Для загрузки Excel используем нашего <a href="https://t.me/example_bot" target="_blank">Telegram-бота</a>.</p> *@
</div>

@code {
   
}
