@page "/multichild"

<h3>Многодетные семьи</h3>
<div class="card p-4" style="margin:5px;">
    <p>На основании Постановления Правительства Севастополя от 21.12.2017 г. № 970-ПП о постановке граждан на учет в качестве лиц, имеющих право на предоставление земельных участков в собственность бесплатно, Вы можете подать заявление на предоставление земельного участка с приложением следующих документов:</p>
    <ol>
        <li>копии паспортов гражданина Российской Федерации и членов его семьи. В случае если заявление подается представителем заявителя, к заявлению прилагается копия паспорта представителя и копия документа, подтверждающего полномочия представителя;</li>
        <li>копии документов, подтверждающих принадлежность заявителя к категории граждан, имеющих право на предоставление земельных участков в собственность бесплатно;</li>
        <li>копии свидетельств о государственной регистрации актов гражданского состояния, выданные компетентными органами иностранного государства, и их нотариально удостоверенный перевод на русский язык;</li>
        <li>копии свидетельств об усыновлении, выданные органами записи актов гражданского состояния или консульскими учреждениями Российской Федерации;</li>
        <li>копия паспорта ребенка в возрасте от 18 до 23 лет (для граждан, имеющих детей, обучающихся в образовательных организациях, профессиональных образовательных организациях, образовательных организациях высшего образования по очной форме обучения);</li>
        <li>копия акта органа опеки и попечительства о назначении опекуна или попечителя (для граждан, назначенных опекунами или попечителями несовершеннолетних детей);</li>
        <li>исключен. - Постановление Правительства Севастополя от 13.07.2023 N 336-ПП;</li>
        <li>документ, подтверждающий факт постоянного проживания заявителя на территории города Севастополя в течение 10 лет до подачи заявления о постановке на учет;</li>
        <li>документы, подтверждающие обучение детей заявителя в возрасте от 18 до 23 лет в общеобразовательных организациях (в том числе осуществляющих образовательную деятельность по адаптированным основным общеобразовательным программам), профессиональных образовательных организациях, образовательных организациях высшего образования по очной форме обучения (для граждан, имеющих трех и более детей).</li>
    </ol>
    <p>+Обращаем Ваше внимание, что государственная услуга предоставляется при обращении заявителем: лично (либо через представителя заявителя) - по месту нахождения ГАУ "Цифровой Севастополь- МФЦ в г. Севастополе, почтовым отправлением с описью документов и с уведомлением в адрес Департамента имущественных и земельных отношений. При этом, подлинность подписи необходимо заверить нотариально. При наличии положительного ответа о признании нуждающимися в улучшении жилищных условий.</p>
</div>
