@page "/repressed"

<h3>Подвергшиеся политическим репрессиям и принудительно выселенные из мест проживания в связи с репрессиями и впоследствии реабилитированные</h3>
<div class="card p-4" style="margin:5px;">
    <p>Во исполнении Закона города Севастополя от 27.07.2016 N 269-ЗС «О предоставлении земельных участков, находящихся в собственности города Севастополя, отдельным категориям граждан в собственность бесплатно", основанием для предоставления земельных участков гражданам, относящимся к категориям, подвергшихся политическим репрессиям, в собственность бесплатно являются следующие условия:</p>
    <ol>
        <li>гражданин принят на учет в порядке, установленном настоящим Законом; </li>
        <li>гражданин, его супруг (супруга), несовершеннолетние дети и дети в возрасте до 23 лет не имеют иного земельного участка в собственности либо в пользовании (аренде), и в их отношении не принималось решение о предоставлении (передаче) земельного участка в собственность бесплатно или решение, на основании которого возможно завершение оформления права на земельный участок для индивидуального жилищного строительства в соответствии с федеральным законодательством и законодательством города Севастополя; </li>
        <li>гражданин постоянно проживает на территории города Севастополя в течение 5 лет до подачи заявления. </li>
    </ol>
    <p>На основании Постановления Правительства Севастополя от 21.12.2017 г. № 970-ПП "Об утверждении перечня документов, прилагаемых к заявлению о постановке отдельных категорий граждан на учет в качестве лиц, имеющих право на предоставление земельных участков в собственность бесплатно", подается заявление на предоставление земельного участка с приложением следующих документов:</p>
    <ol>
        <li>копии паспортов гражданина Российской Федерации и членов его семьи. В случае если заявление подается представителем заявителя, к заявлению прилагается копия паспорта представителя и копия документа, подтверждающего полномочия представителя;</li>
        <li>копии документов, подтверждающих принадлежность заявителя к категории граждан, имеющих право на предоставление земельных участков в собственность бесплатно;</li>
        <li>копии свидетельств о государственной регистрации актов гражданского состояния, выданные компетентными органами иностранного государства, и их нотариально удостоверенный перевод на русский язык;</li>
        <li>копии свидетельств об усыновлении, выданные органами записи актов гражданского состояния или консульскими учреждениями Российской Федерации (для граждан имеющих детей в возрасте до 23 лет);</li>
        <li>копия паспорта ребенка в возрасте от 18 до 23 лет (для граждан, имеющих детей, обучающихся в образовательных организациях, профессиональных образовательных организациях, образовательных организациях высшего образования по очной форме обучения);</li>
        <li>копия акта органа опеки и попечительства о назначении опекуна или попечителя (для граждан, назначенных опекунами или попечителями несовершеннолетних детей);</li>
        <li>документ, подтверждающий факт постоянного проживания заявителя на территории города Севастополя в течение 5 лет до подачи заявления о постановке на учет;</li>
    </ol>
    <p>Обращаем Ваше внимание, что государственная услуга предоставляется при обращении заявителем:</p>
    <ul>
        <li>лично (либо через представителя заявителя) - по месту нахождения ГАУ "Цифровой Севастополь- МФЦ в г. Севастополе;</li>
        <li>почтовым отправлением с описью документов и с уведомлением в адрес Департамента имущественных и земельных отношений. При этом, подлинность подписи необходимо заверить нотариально. </li>
    </ul>
    <p>В случае обращения гражданина в электронной форме по средством Единого портала государственных услуг, необходимо прикреплять сканы документов согласно утвержденного Перечня 970-ПП.</p>
</div>
