@page "/repressed"

<h3>Подвергшиеся политическим репрессиям и принудительно выселенные из мест проживания в связи с репрессиями и впоследствии реабилитированные</h3>
<div class="card p-4" style="margin:5px;">
    <p>Основанием для предоставления земельных участков гражданам, относящимся к данной категории, в собственность бесплатно являются следующие условия:</p>
    <ol>
        <li>гражданин принят на учет в порядке, установленном Законом города Севастополя;</li>
        <li>гражданин, его супруг (супруга), несовершеннолетние дети и дети в возрасте до 23 лет не имеют иного земельного участка в собственности либо в пользовании (аренде), и в их отношении не принималось решение о предоставлении (передаче) земельного участка в собственность бесплатно или решение, на основании которого возможно завершение оформления права на земельный участок для индивидуального жилищного строительства в соответствии с федеральным законодательством и законодательством города Севастополя;</li>
        <li>гражданин постоянно проживает на территории города Севастополя в течение 5 лет до подачи заявления.</li>
    </ol>
</div>
