@page "/svo-families"

<h3>Члены семей погибших (умерших) участников специальной военной операции (СВО)</h3>
<div class="card p-4" style="margin:5px;">
    <p>Земельный участок в собственность бесплатно предоставляется однократно получателям мер социальной поддержки – членам семей погибших (умерших) участников СВО. В соответствии с п. 3 ст. 3 Закона Севастополя 269-ЗС один из родителей погибшего (умершего) участника СВО имеет право – в случае отсутствия лиц, указанных в пунктах 1 и 2 (супруга, дети) ст. 3, либо их отказа от получения земельного участка.</p>
    <p>По вопросу предоставления земельного участка в собственность бесплатно, Вам необходимо подать обращение в Департамент по имущественным и земельным отношениям через МФЦ, с предоставлением необходимых документов:</p>
    <ul>
        <li>документ, подтверждающий участие в СВО;</li>
        <li>свидетельство о смерти участника СВО;</li>
        <li>документы, подтверждающие родство с участником СВО (свидетельство о рождении или справка из ЗАГСа);</li>
        <li>документы, подтверждающие проживание на территории Севастополя погибшего участника СВО на 24.02.2022 (копия паспорта, погибшего (умершего) члена семьи, являвшегося участником СВО), а также в качестве подтверждения проживания в городе Севастополе на 24.02.2022 подходят: временная регистрация по месту пребывания, наличие собственной недвижимости в г. Севастополе, справка с военной части, подтверждающая проживание на 24.02.2022 погибшего участника СВО, контракт о прохождении воинской службы в городе Севастополе на указанную дату);</li>
        <li>сведения о составе семьи погибшего, выданные воинской частью либо военным комиссариатом.</li>
    </ul>
    <p>Обратите, пожалуйста, внимание, получателем указанной меры социальной поддержки (в соответствии с п. 3 ст. 3 Закона Севастополя 269-ЗС), может быть один из родителей погибшего (умершего) участника СВО – в случае отсутствия лиц, указанных в пунктах 1 и 2 (супруга, дети) ст. 3, либо их отказа от получения земельного участка члены семей погибших (умерших) участников СВО.</p>
    <p>Принятие решения по предоставлению услуг, проведения анализа возможности предоставления земельных участков в пользование, согласование условий по Вашему вопросу и подготовка окончательного ответа находится в компетенции ДИЗО. В любом случае, Вам необходимо обратиться в любой удобный для Вас центр «Мои Документы» с заявлением и документами, которые необходимы для оказания услуги.</p>
    <p>Ознакомиться с адресами и режимом работы центров можно на официальном сайте учреждения, пройдите по ссылке: https://мфц92.рф/filials. Получить талон предварительной записи можно:</p>
    <ul>
        <li>посредством официального Интернет- портала мфц92.рф;</li>
        <li>по телефонам Центра телефонного обслуживания 122 (добавочный 5) и +7 (8692) 417-100 с понедельника по пятницу с 08:00 до 17:00 и в субботу с 08:00 до 15:00;</li>
        <li>через терминал электронной очереди в отделении;</li>
        <li>на стойке у администратора отделения.</li>
    </ul>
</div>
