@page "/svo-families"

<h3>Члены семей погибших (умерших) участников специальной военной операции (СВО)</h3>
<div class="card p-4" style="margin:5px;">
    <p>Во исполнении Закона города Севастополя от 27.07.2016 № 269-ЗС «О предоставлении земельных участков, находящихся в собственности города Севастополя, отдельным категориям граждан в собственность бесплатно», участникам специальной военной операции, в том числе о выделении средств и выплате компенсации взамен земельного участка, согласно положений Закона города Севастополя от 01.12.2022 № 720–ЗС «О социальной поддержке участников военной операции, членов их семей и членов семей погибших (умерших) участников специальной военной операции в городе Севастополе 
и о внесении изменений в некоторые законодательные акты города Севастополя» получателями мер социальной поддержки, являются:</p>
    <ol>
        <li>супруга (супруг), состоявшая в зарегистрированном браке 
с погибшим (умершим) участником специальной военной операции на день его гибели (смерти);</li>
        <li>один из детей погибшего (умершего) участника специальной военной операции вне зависимости от возраста и места проживания - в случае смерти супруги (супруга), состоявшей в зарегистрированном браке с погибшим (умершим) участником специальной военной операции на день его гибели (смерти), либо отказа такой супруги (супруга) от получения земельного участка; </li>
        <li>один из родителей погибшего (умершего) участника специальной военной операции - в случае отсутствия лиц, указанных в пунктах 1 и 2 настоящей части, либо их отказа от получения земельного участка. </li>
    </ol>
    <p>Важно отметить, получателем указанной меры социальной поддержки (в соответствии с п. 3 ст. 3 Закона Севастополя 269-ЗС), может быть один из родителей погибшего (умершего) участника СВО – в случае отсутствия лиц, указанных в пунктах 1 и 2 (супруга, дети) ст. 3, либо их отказа от получения земельного участка.</p>
    <p>Основанием для предоставления земельных участков гражданам, относящимся к категории, установленной пунктом 5 части 1 статьи 3 настоящего Закона, в собственность бесплатно являются следующие условия:</p>
    <ol>
        <li>гражданин принят на учет в порядке, установленном настоящим Законом; </li>
        <li>погибшему (умершему) участнику специальной военной операции, членом семьи которого является гражданин, не предоставлялся земельный участок в соответствии с настоящим Законом как получателю мер социальной поддержки - участнику специальной военной операции. </li>
    </ol>
    <p>На основании Постановления Правительства Севастополя от 21.12.2017 г. № 970-ПП "Об утверждении перечня документов, прилагаемых к заявлению о постановке отдельных категорий граждан на учет в качестве лиц, имеющих право на предоставление земельных участков в собственность бесплатно", к документам подтверждающие проживание в городе Севастополе на 24.02.2022 прилагается копия паспорта погибшего (умершего) члена семьи, являвшегося участником специальной военной операции, подтверждающая его регистрацию по месту жительства на территории города Севастополя по состоянию на 24 февраля 2022 г., или свидетельства о регистрации по месту пребывания в городе Севастополе по состоянию на 24 февраля 2022 г.</p>
    <p>В случае отсутствия регистрации погибшего участника СВО по месту жительства (пребывания) в качестве одного из документов, подтверждающих проживание в городе Севастополе по состоянию на 24 февраля 2022 г., представляются:</p>
    <ul>
        <li>документы на объекты недвижимого имущества, находящиеся в городе Севастополе (выписка из Единого государственного реестра недвижимости или свидетельство о регистрации права собственности); </li>
        <li>документы на объекты недвижимости, находящиеся в городе Севастополе, права на которые не зарегистрированы в Едином государственном реестре недвижимости; </li>
        <li>трудовые договоры (с копией трудовой книжки), служебные контракты; </li>
        <li>справка о прохождении военной службы из воинской части, дислоцированной в городе Севастополе; </li>
        <li>выписка из домовой книги воинской части, дислоцированной в городе Севастополе; </li>
        <li>вступивший в законную силу судебный акт об установлении факта проживания на территории города Севастополя по состоянию на 24 февраля 2022 г. </li>
    </ul>
    <p>Обращаем Ваше внимание, что государственная услуга предоставляется при обращении заявителем:</p>
    <ul>
        <li>лично (либо через представителя заявителя) - по месту нахождения ГАУ "Цифровой Севастополь- МФЦ в г. Севастополе;</li>
        <li>почтовым отправлением с описью документов и с уведомлением 
в адрес Департамента имущественных и земельных отношений. При этом, подлинность подписи необходимо заверить нотариально. </li>
    </ul>
    <p>В случае обращения гражданина в электронной форме по средством Единого портала государственных услуг, необходимо прикреплять сканы документов согласно утвержденного Перечня 970-ПП.</p>
    <p>Ознакомиться с адресами и режимом работы центров можно на официальном сайте учреждения, пройдите по ссылке: <a href="https://мфц92.рф/filials" target="_blank">https://мфц92.рф/filials</a>. Получить талон предварительной записи можно:</p>
    <ul>
        <li>посредством официального Интернет- портала <a href="https://мфц92.рф" target="_blank">мфц92.рф</a>;</li>
        <li>по телефонам Центра телефонного обслуживания <a href="tel:122">122</a> (добавочный 5) и <a href="tel:+78692417100">+7 (8692) 417-100</a> с понедельника по пятницу с 08:00 до 17:00 и в субботу с 08:00 до 15:00;</li>
        <li>через терминал электронной очереди в отделении;</li>
        <li>на стойке у администратора отделения.</li>
    </ul>
</div>
