@page "/svo-families"

<h3>Члены семей погибших (умерших) участников специальной военной операции (СВО)</h3>
<div class="card p-4" style="margin:5px;">
    <p>Земельный участок в собственность бесплатно предоставляется однократно получателям мер социальной поддержки – членам семей погибших (умерших) участников СВО. В соответствии с пунктом 3 статьи 3 Закона Севастополя № 269-ЗС один из родителей погибшего (умершего) участника СВО имеет право на получение участка в случае отсутствия супруга и детей либо их отказа.</p>
    <p>Для предоставления земельного участка необходимо подать обращение в Департамент по имущественным и земельным отношениям через МФЦ с предоставлением следующих документов:</p>
    <ul>
        <li>документ, подтверждающий участие в СВО;</li>
        <li>свидетельство о смерти участника СВО;</li>
        <li>документы, подтверждающие родство с участником СВО (свидетельство о рождении или справка из ЗАГСа);</li>
        <li>документы, подтверждающие проживание на территории Севастополя погибшего участника СВО на 24.02.2022 (копия паспорта погибшего, временная регистрация, наличие недвижимости в Севастополе, справка из военной части, контракт о прохождении службы);</li>
        <li>сведения о составе семьи погибшего, выданные воинской частью либо военным комиссариатом.</li>
    </ul>
    <p>Получателем указанной меры социальной поддержки может быть один из родителей погибшего (умершего) участника СВО при отсутствии иных лиц, имеющих право, либо их отказе от получения земельного участка.</p>
    <p>Принятие решения о предоставлении услуг находится в компетенции Департамента имущественных и земельных отношений. Обратитесь в центр «Мои Документы» с заявлением и необходимыми документами.</p>
    <p>Ознакомиться с адресами и режимом работы центров можно на официальном сайте учреждения <a href="https://мфц92.рф/filials" target="_blank">мфц92.рф/filials</a>. Талон предварительной записи можно получить:</p>
    <ul>
        <li>на официальном интернет‑портале мфц92.рф;</li>
        <li>по телефонам центра телефонного обслуживания 122 (добавочный 5) и +7 (8692) 417‑100 с понедельника по пятницу с 08:00 до 17:00 и в субботу с 08:00 до 15:00;</li>
        <li>через терминал электронной очереди в отделении;</li>
        <li>на стойке у администратора отделения.</li>
    </ul>
</div>
