@page "/svo-participants"

<h3>Участники специальной военной операции (СВО)</h3>
<div class="card p-4" style="margin:5px;">
    <p>Во исполнении Закона города Севастополя от 27.07.2016 № 269-ЗС «О предоставлении земельных участков, находящихся в собственности города Севастополя, отдельным категориям граждан в собственность бесплатно», участникам специальной военной операции, в том числе о выделении средств и выплате компенсации взамен земельного участка, согласно положений Закона города Севастополя от 01.12.2022 № 720–ЗС «О социальной поддержке участников военной операции, членов их семей и членов семей погибших (умерших) участников специальной военной операции в городе Севастополе и о внесении изменений в некоторые законодательные акты города Севастополя» получателями мер социальной поддержки, являются: участники специальной военной операции - граждане Российской Федерации, проживающие на территории города Севастополя по состоянию на 24 февраля 2022 года, направленные с 24 февраля 2022 года для участия 
в специальной военной операции на территориях Украины, Донецкой Народной Республики и Луганской Народной Республики, а также с 30 сентября 2022 года на территориях Запорожской области и Херсонской области (далее - специальная военная операция) или для обеспечения выполнения боевых задач в ходе указанной операции либо выполнявшие задачи по отражению вооруженного вторжения на территорию Российской Федерации, а также в ходе вооруженной провокации на Государственной границе Российской Федерации и территориях субъектов Российской Федерации, прилегающих к районам проведения специальной военной операции.</p>
    <p>К документам, подтверждающим участие в специальной военной операции или обеспечение выполнения боевых задач в ходе указанной операции и дающим право на получение мер социальной поддержки 
в соответствии с настоящим Законом, относятся:</p>
    <ul>
        <li>выписки из приказов командиров (начальников) воинских частей, подразделений, штабов, органов, оперативных и иных групп, записи 
в удостоверениях личности, военных билетах, трудовых книжках, сведениях 
о трудовой деятельности, командировочные удостоверения, судовые роли, архивные справки, медицинские справки, выписки из истории болезни, подтверждающие даты или периоды участия гражданина в специальной военной операции или обеспечения им выполнения боевых задач в ходе указанной операции, а также документы, подтверждающие получение 
им в связи с этим ранения, контузии или увечья, его гибель (смерть), решение суда об объявлении его умершим, реализованный наградной материал либо копия контракта о прохождении военной службы гражданином 
в Вооруженных Силах Российской Федерации, подтверждающего даты 
или периоды участия гражданина в специальной военной операции 
или обеспечения им выполнения боевых задач в ходе указанной операции.</li>
    </ul>
    <p>На основании Постановления Правительства Севастополя от 21.12.2017 г. № 970-ПП "Об утверждении перечня документов, прилагаемых к заявлению о постановке отдельных категорий граждан на учет в качестве лиц, имеющих право на предоставление земельных участков в собственность бесплатно", 
к документам подтверждающие проживание в городе Севастополе 
на 24.02.2022 прилагается копия паспорта заявителя, подтверждающая 
его регистрацию по месту жительства на территории города Севастополя 
по состоянию на 24 февраля 2022 г., или свидетельства о регистрации по месту пребывания в городе Севастополе по состоянию на 24 февраля 2022 г.</p>
    <p>В случае отсутствия у заявителя регистрации по месту жительства (пребывания) в качестве одного из документов, подтверждающих проживание в городе Севастополе по состоянию на 24 февраля 2022 г., представляются:</p>
    <ul>
        <li>документы на объекты недвижимого имущества, находящиеся в городе Севастополе (выписка из Единого государственного реестра недвижимости или свидетельство о регистрации права собственности); </li>
        <li>документы на объекты недвижимости, находящиеся в городе Севастополе, права на которые не зарегистрированы в Едином государственном реестре недвижимости; </li>
        <li>трудовые договоры (с копией трудовой книжки), служебные контракты; </li>
        <li>справка о прохождении военной службы из воинской части, дислоцированной в городе Севастополе; </li>
        <li>выписка из домовой книги воинской части, дислоцированной в городе Севастополе; </li>
        <li>вступивший в законную силу судебный акт об установлении факта проживания на территории города Севастополя по состоянию на 24 февраля 2022 г. </li>
    </ul>
    <p>Обращаем Ваше внимание, что государственная услуга предоставляется при обращении заявителем:</p>
    <ul>
        <li>лично (либо через представителя заявителя) - по месту нахождения ГАУ "Цифровой Севастополь- МФЦ в г. Севастополе;</li>
        <li>почтовым отправлением с описью документов и с уведомлением 
в адрес Департамента имущественных и земельных отношений. При этом, подлинность подписи необходимо заверить нотариально. </li>
    </ul>
    <p>В случае обращения гражданина в электронной форме по средством Единого портала государственных услуг, необходимо прикреплять сканы документов согласно утвержденного Перечня 970-ПП.</p>
</div>
