@page "/svo-participants"

<h3>Участники специальной военной операции (СВО)</h3>
<div class="card p-4" style="margin:5px;">
    <p>Получателями мер социальной поддержки, установленным Законом города Севастополя от 1 декабря 2022 года № 720-ЗС "О социальной поддержке участников специальной военной операции, членов их семей", являются участники специальной военной операции — граждане Российской Федерации, проживающие на территории города Севастополя по состоянию на 24 февраля 2022 года, направленные с 24 февраля 2022 года для участия в специальной военной операции и заключившие контракт с Министерством обороны. Это обязательное условие предоставления земельного участка в собственность бесплатно. При себе необходимо иметь паспорт.</p>
    <p>К документам, подтверждающим участие в специальной военной операции или обеспечение выполнения боевых задач, относятся:</p>
    <ul>
        <li>выписки из приказов командиров (начальников) воинских частей, подразделений, штабов, органов, оперативных и иных групп;</li>
        <li>записи в удостоверениях личности, военных билетах, трудовых книжках, сведениях о трудовой деятельности;</li>
        <li>командировочные удостоверения, судовые роли, архивные справки;</li>
        <li>медицинские справки, выписки из истории болезни, подтверждающие участие или обеспечение выполнения боевых задач, а также документы, подтверждающие получение ранения, контузии или увечья, гибель (смерть), решение суда об объявлении умершим;</li>
        <li>реализованный наградной материал либо копия контракта о прохождении военной службы в Вооруженных Силах Российской Федерации.</li>
    </ul>
    <p>К документам, подтверждающим проживание в городе Севастополе на 24.02.2022, прилагается копия паспорта заявителя с регистрацией по месту жительства на указанную дату или свидетельство о регистрации по месту пребывания в городе Севастополе.</p>
    <p>В случае отсутствия регистрации по месту жительства (пребывания) предоставляются:</p>
    <ul>
        <li>документы на объекты недвижимого имущества в городе Севастополе (выписка из ЕГРН или свидетельство о регистрации права собственности);</li>
        <li>документы на объекты недвижимости, права на которые не зарегистрированы в ЕГРН;</li>
        <li>трудовые договоры, служебные контракты;</li>
        <li>справка о прохождении военной службы из воинской части, дислоцированной в городе Севастополе;</li>
        <li>выписка из домовой книги воинской части, дислоцированной в городе Севастополе;</li>
        <li>вступивший в законную силу судебный акт об установлении факта проживания на территории города Севастополя по состоянию на 24 февраля 2022 г.</li>
    </ul>
</div>
