@inherits LayoutComponentBase

<div class="page">
    <NavMenu />

    <main>
       @*  <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div> *@

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    Потеряно соединение. Попытка переподключения...
    <a href="" class="reload">Перезагрузить</a>
    <a class="dismiss">🗙</a>
</div>
