<nav class="navbar navbar-dark bg-dark navbar-expand-lg flex-column">
    <a class="navbar-brand px-3" href="">Реестр очереди</a>
    <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu" aria-controls="sidebarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="@NavMenuCssClass" id="sidebarNav">
        <ul class="navbar-nav flex-column w-100">
           @*  <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="counter">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="weather">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
                </NavLink>
            </li> *@
            @* <li class="nav-item">
                <NavLink class="nav-link" href="info">
                    <span class="bi bi-info-circle" aria-hidden="true"></span> Информация
                </NavLink>
            </li> *@
            <li class="nav-item">
                <NavLink class="nav-link" href="search">
                    <span class="bi bi-search" aria-hidden="true"></span> Поиск
                </NavLink>
            </li>
        </ul>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse navbar-collapse" : "navbar-collapse";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
