<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand px-3 d-flex align-items-center" href="">
        <img src="https://dizo.sev.gov.ru/local/templates/adaptive/static/images/svg/sevastopol__emblem.svg" class="sevastopol-emblem" alt="Sevastopol emblem" style="width:24px" />
        <span class="ms-2">Портал земельной поддержки Севастополя</span>

    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarNav" aria-controls="sidebarNav" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas-lg offcanvas-start bg-dark text-white sidebar-offcanvas" tabindex="-1" id="sidebarNav">
        <div class="offcanvas-header d-lg-none">
            <h5 class="offcanvas-title">Меню</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body p-0">
        <ul class="navbar-nav flex-column">
           @*  <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="counter">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="weather">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
                </NavLink>
            </li> *@
            @* <li class="nav-item">
                <NavLink class="nav-link" href="info">
                    <span class="bi bi-info-circle" aria-hidden="true"></span> Информация
                </NavLink>
            </li> *@
            <li class="nav-item">
                <NavLink class="nav-link" href="search">
                    <span class="bi bi-search" aria-hidden="true"></span> Поиск
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="multichild">
                    <span class="bi bi-people-fill" aria-hidden="true"></span> Многодетные
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="chernobyl">
                    <span class="bi bi-exclamation-triangle-fill" aria-hidden="true"></span> Подвергшиеся воздействию радиации вследствие катастрофы на Чернобыльской АЭС
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="repressed">
                    <span class="bi bi-person-x-fill" aria-hidden="true"></span> Подвергшиеся политическим репрессиям и принудительно выселенные из мест проживания в связи с репрессиями и впоследствии реабилитированные
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="svo-participants">
                    <span class="bi bi-shield-fill-check" aria-hidden="true"></span> Участники специальной военной операции (СВО)
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="svo-families">
                    <span class="bi bi-heart-fill" aria-hidden="true"></span> Члены семей погибших (умерших) участников специальной военной операции (СВО)
                </NavLink>
            </li>
        </ul>
        </div>
    </div>
</nav>
