<nav class="navbar navbar-dark bg-dark navbar-expand-lg flex-column">
    <a class="navbar-brand px-3 d-flex align-items-center" href="">
        <img src="https://dizo.sev.gov.ru/local/templates/adaptive/static/images/svg/sevastopol__emblem.svg" class="sevastopol-emblem" alt="Sevastopol emblem" style="width:24px" />
        <span class="ms-2">Земля для граждан</span>
        
    </a>
    <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu" aria-controls="sidebarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="@NavMenuCssClass" id="sidebarNav">
        <ul class="navbar-nav flex-column w-100">
           @*  <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="counter">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="weather">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
                </NavLink>
            </li> *@
            @* <li class="nav-item">
                <NavLink class="nav-link" href="info">
                    <span class="bi bi-info-circle" aria-hidden="true"></span> Информация
                </NavLink>
            </li> *@
            <li class="nav-item">
                <NavLink class="nav-link" href="search" @onclick="ToggleNavMenu">
                    <span class="bi bi-search" aria-hidden="true"></span> Поиск
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="svo-participants" @onclick="ToggleNavMenu">
                    <span class="bi bi-shield-fill-check" aria-hidden="true"></span> Участники специальной военной операции (СВО)
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="svo-families" @onclick="ToggleNavMenu">
                    <span class="bi bi-heart-fill" aria-hidden="true"></span> Члены семей погибших (умерших) участников специальной военной операции (СВО)
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="multichild" @onclick="ToggleNavMenu">
                    <span class="bi bi-people-fill" aria-hidden="true"></span> Многодетные
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="chernobyl" @onclick="ToggleNavMenu">
                    <span class="bi bi-exclamation-triangle-fill" aria-hidden="true"></span> Подвергшиеся воздействию радиации вследствие катастрофы на Чернобыльской АЭС
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="repressed" @onclick="ToggleNavMenu">
                    <span class="bi bi-person-x-fill" aria-hidden="true"></span> Подвергшиеся политическим репрессиям и принудительно выселенные из мест проживания в связи с репрессиями и впоследствии реабилитированные
                </NavLink>
            </li>
            
        </ul>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse navbar-collapse" : "navbar-collapse";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
